h1 {
    font-family: 'Arial';
    text-align: left;
    vertical-align: top;
    margin: 1em;
    font-size: 4rem;
}

p {
    //color: rgb(207, 29, 29);
    text-align: left;
    margin: 2em;
    //margin-left: 6em;
    font-size: 2rem;
}

.button_default {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button_discourage {
    background-color: rgb(150, 63, 63);
    /* Green */
    border: rgba(218, 220, 224, 1);
    color: rgba(26, 115, 232, 1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // below is from Google Chrome scheme
    border-radius: 4px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    align-items: center;
    --paper-ripple-opacity: var(--ripple-opacity);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-weight: 500;
    height: var(--cr-button-height);
    justify-content: center;
    min-width: 5.14em;
    outline-width: 0;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    user-select: none;
}



.s1 {
    //    background: url('../images/Article_original_figure_4.png');
    //    background-size: cover;

    h1 {
        //color: rgb(207, 29, 29);
        text-align: left;
        margin-left: 1em;
        font-size: 4rem;
    }
}


.s2 {
    //background: url('../images/Article_original_figure_4.png');
    //background-size: cover;

    h1 {
        //color: rgb(207, 29, 29);
        text-align: left;
        margin-left: 1em;
        font-size: 4rem;
    }

}

.s3 {

    /*     background: url('../images/Article_original_figure_4.png');
    background-size: cover; */
    h1 {
        //color: rgb(207, 29, 29);
        text-align: left;
        margin-left: 1em;
        font-size: 4rem;
    }
}

.s4 {
    h1 {
        text-align: left;
        margin-left: 1em;
        font-size: 4rem;
    }

    p {
        //color: rgb(207, 29, 29);
        text-align: left;
        margin-left: 2em; //margin is not working... Figured it out. Can't use body tag, it has to be paragraph p
        //margin-left: 6em;
        font-size: 2rem;
    }
}

// span {
//     background: black !important; //scroll dot colors
//     color: black
// }


//tooltip text has the following properties
//<div class="fp-tooltip fp-right">Discover</div>

.fp-tooltip {
    color: black !important;
    background: white !important; //scroll dot colors

}